!.gitkeep

__pycache__
.cache/
.venv/
.pytest_cache/
.history
.hypothesis

# pyenv
.python-version

# Node
node_modules/

# VSCode
.vscode

# Mac
.DS_Store

# Intellij
.idea
/*.iml

# Project
build/
output/
reports/
